<% layout("/layouts/boilerplates") %>
<script>
  const mapToken = "<%=process.env.MAP_TOKEN%>";
  const listing = <%- JSON.stringify(listing) %>;
</script>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 mb-3 text-center">
      <h3><%= listing.title %></h3>
    </div>

    <div class="card col-12 col-md-8 listing-card mb-4">
      <img
        class="card-img-top show-img img-fluid"
        src="<%= listing.image.url %>"
        alt="listing_image"
      />
      <div class="card-body">
        <h5 class="card-text">
          <b><i>Owned by: <%= listing.owner.username %></i></b>
        </h5>
        <p class="card-text"><%= listing.description %></p>
        <p class="card-text">
          &#8377;<%= listing.price.toLocaleString("en-IN") %>
        </p>
        <p class="card-text"><%= listing.location %></p>
        <p class="card-text"><%= listing.country %></p>
      </div>
    </div>

    <% if(currUser && listing.owner._id.equals(currUser._id)){ %>
    <div
      class="d-flex flex-column flex-md-row justify-content-center gap-3 mb-4"
    >
      <a href="/listings/<%= listing._id%>/edit" class="btn btn-dark">Edit</a>
      <form method="post" action="/listings/<%=listing._id%>?_method=Delete">
        <button class="btn btn-dark">Delete</button>
      </form>
    </div>
    <% } %> <% if(currUser){ %>
    <hr />
    <div class="col-12 col-md-8 mb-3">
      <h4>Leave a Review</h4>
      <form
        action="/listings/<%= listing.id %>/reviews"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <fieldset class="starability-slot">
            <% for(let i=1; i<=5; i++){ %> <input type="radio" id="rate<%= i %>"
            name="review[rating]" value="<%= i %>" <%= i === 1 ? 'checked' : ''
            %> />
            <label
              for="rate<%= i %>"
              title="<%= ['Terrible','Not good','Average','Very good','Amazing'][i-1] %>"
              ><%= i %> star<%= i > 1 ? 's' : '' %></label
            >
            <% } %>
          </fieldset>
        </div>
        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Comment</label>
          <textarea
            name="review[comment]"
            id="comment"
            cols="30"
            rows="5"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">
            Please add some comments for review
          </div>
        </div>
        <button class="btn btn-outline-dark mb-3">Submit</button>
      </form>
    </div>
    <% } %> <% if(listing.reviews.length > 0){ %>
    <div class="col-12">
      <p><b>All Reviews</b></p>
      <div class="row">
        <% for(review of listing.reviews){ %>
        <div class="card col-12 col-md-6 mb-3">
          <div class="card-body pt-3 pb-3">
            <h5 class="card-title">
              <i class="fa-solid fa-circle-user"></i>&nbsp;<%=
              review.author.username %>
            </h5>
            <p class="starability-result" data-rating="<%= review.rating %>">
              stars
            </p>
            <p class="card-text"><%= review.comment %></p>
          </div>
          <% if (currUser && review.author._id.equals(currUser._id)) { %>
          <form
            method="post"
            class="mb-3"
            action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=delete"
          >
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
          <% } %>
        </div>
        <% } %>
      </div>
    </div>
    <% } %>

    <div class="col-12 col-md-8 mb-3">
      <h3>Where you'll be</h3>
      <div
        id="map"
        style="width: 100%; height: 300px; border-radius: 8px"
      ></div>
    </div>
  </div>
</div>

<script src="/js/map.js"></script>
